.fa-circle-check{
    color: green;
}
.fa-circle-xmark{
    color: red;
}
.active{
    color: green;
}
.inactive{
    color: red;
}
.sort__option{
    width: 70px;
    display: inline;
    margin-left: 10px;
}
.SKU__search{
    width: 80px;
    display: inline;
}