.product__image {
  height: 200px;
  width: 200px;
}

.details {
  margin-top: 50px;
  margin-left: 30%;
  margin-right: 30%;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.save {
  margin-left: 30px;
}
